// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

// 外見の設定
// $body-font-family: 'Roboto', sans-serif;
// $font-size-root: 16px;
// $line-height-root: 1.5;
$border-radius-root: 8px;

// カードの影の量
$card-elevation: 4;

// グリッドサイズ
// $grid-breakpoints: (
//     'xs': 0,
//     'sm': 600px,
//     'md': 960px,
//     'lg': 1280px - 16px,
//     'xl': 1920px - 16px
// );

// 影の色
// $shadow-key-umbra-opacity: rgba(0, 0, 0, 0.2);
// $shadow-key-penumbra-opacity: rgba(0, 0, 0, 0.14);
// $shadow-key-ambient-opacity: rgba(0, 0, 0, 0.12);

// ボタンデザイン
$btn-font-weight: 700;
$btn-text-transform: none;
